* {
  box-sizing: border-box;

}

h1{
  text-align: center;
  font-size: 1.75em;

}

h3{
  text-align: center;
  border: 1px solid black;
  border-top: 0px;
  border-right: 0px 
  position: relative;
  width: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
  float: right;


}

p{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;

  text-align: left;
}

.row{
  position: relative;
  width: 100%;

}




/********** Desktop only **********/

@media(min-width: 992px){
  .col-lg-4  {
    float: left;
    width: 33%;

   
  }
  #first {
       margin-right: 3px;
 
  }
  #second {
       margin-right: 3px;
 
  }
}

/********** Tablet Devices only **********/

@media(min-width: 768px) and (max-width: 991px){

  .col-md-6{
      float: left;
    width: 49%;


  }
   .col-md-12{
          float: left;

    width: 98.5%;

  }

#first {
       margin-right: 3px;
 
  }
   #third {
       margin-top: 3px;
 
  }


}

/********** mobile Devices only **********/

@media(max-width: 767px){
  .col-sl-12{
    float: left;
    width: 100%;
    margin-top: 5px;
  }
}
.solidBorder {
  border: 1px solid black;
   background-color: grey;
}
#section1 {
  background-color: #F36D6D;
}


#section2 {
  background-color: #FF0000;
}

#section3 {
  background-color: #FFFF73;
}